.gradient-background {
  background-image: linear-gradient(to bottom, #200147 0%, #5F18A5 100%);
}

.text-gradient1 {
  background: linear-gradient(0deg, #471aa0 5%, #ff8aab 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}