/* In your CSS file or within style tags in your HTML file */
.gradient-background-1 {
    background-image: linear-gradient(to bottom, #200147 0%, #5F18A5 100%);
  }
  .gradient-background-2 {
    background-image: linear-gradient(to right, #23024B 0%, #A1329F 100%);
  }
  .social-icon {
    width: 30px; /* Set the desired width */
    height: 30px; /* Set the desired height */
}
social-icons {
  width: 20px; /* Set the desired width */
  height: 20px; /* Set the desired height */
}